.DS_Store
.idea
nbproject
/var
/vendor
/public/*
/htdocs/*
/private/*
/*.sql.bz2
/*.sql.gz
/*.sql
!/private/typo3conf/
/private/typo3conf/*
!/private/typo3conf/LocalConfiguration.php
!/private/typo3conf/AdditionalConfiguration.php
/.php_cs.cache
/.php-cs-fixer.cache
