.DS_Store
.idea
nbproject
/var
/vendor
/public/*
/htdocs/*
/private/*
!/private/typo3conf/
/private/typo3conf/*
!/private/typo3conf/LocalConfiguration.php
!/private/typo3conf/AdditionalConfiguration.php
